#news-headlines
{
    background-color: #eee;
    list-style-type: none;
    min-height: 25em;
    max-width: calc(var(--bbc-logo-margin) + 100em);
    padding-top: 1px;
}

.news-headline
{
    float: left;
    padding-left: 1em;
    padding-bottom: 3em;
}

.news-headline img
{
    height: 11em;
    filter: brightness(65%);    
}

.news-headline img:hover
{
    filter: brightness(100%);
}

#main-headline
{
    float: left;
    list-style-type: none;
    margin-left: var(--bbc-logo-margin);
}

#main-headline img
{
   filter: brightness(75%);
}

#main-headline img:hover
{
   filter: brightness(100%);
}

.desc
{
    bottom: 5em;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 2em;
    margin-left: 0.5em;
    position: relative;
    width: 17em;
    z-index: 4;
}

.news-headline-desc
{
    bottom: 1em;
    color: whitesmoke;
    line-height: 1em;
    width: 10em;
    font-size: 1.3em;
    font-weight: 200;
    margin-left: 1em;
    margin-top: -4.25em;
    position: relative;    
}
.news-headline-desc h3
{
    color: whitesmoke;
    position: absolute;
    margin-left: 0.5em;
    top: 4em;
}

.desc p
{
    color: whitesmoke;
    font-size: 0.5em;
    font-weight: 200;
    line-height: 1.5em;
    position: relative;
}

.desc h3
{
    color: whitesmoke;
    float: left;
    line-height: 1em;
    font-size: 0.45em;
    font-weight: 100;
    margin-left: 0.5em;
    position: relative;
    top: 0.45em;
    
}

.category_flair_asia_box
{
    background-color: red;
    min-height: 15px;
    float: left;
    position: relative;
    min-width: 3px;
    top: 0.2em;
}

.category_flair_uk_box
{
    color: whitesmoke;
    background-color: aqua;
    min-height: 1em;
    float: left;
    position: absolute;
    min-width: 3px;
    margin-right: 0.5em;
    top: 4em;
}

