/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --bbc-logo-margin: 14vw;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 10px;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    line-height: 2em;
}

.menu-button {

    background-color: black;
    border-style: solid;
    border-color: darkgray;
    border-bottom-width: 1px;
    color: white;
    float: left;
    height: 2.6em;
    font-family: Arial, Helvetica, freesans, sans-serif;
    font-weight: 700;
    z-index: 4;
}

#bbc-logo 
{
    padding-right: 1vw;
    margin-left: var(--bbc-logo-margin);
    border-right-width: 1px;
    line-height: 3.8em;
    z-index: 4;

}

#menu-signin 
{
    border-image-repeat: stretch;
    border-right-width: 1px;
    line-height: 2.5em;
    padding-left: 1vw;
    padding-right: 4vw;
    z-index: 4;
}

#menu-signin:hover
{
    background-color: grey;
}


.menu-small-button 
{
    color: white;
    background-color: black;
    border-right-width: 1px;
    border-style: solid;
    border-color: darkgray;
    border-bottom-width: 1px;
    float: left;
    font-family: Arial, Helvetica, freesans, sans-serif;
    font-weight: 700;
    height: 2.6em;
    line-height: 2.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none; 
    z-index: 4;
    
}

.menu-small-button:hover{

    background-color: grey;
}


#more-menu-button
{
    padding-right: 5vw;
    z-index: 4;
}

#search-bar
{
    margin-right: -9999rem;
    padding-right: 9999rem;
    z-index: 4;
}

#search-bar:hover
{
    background-color: black;
}

#page
{
    background-color: #eee;
    color: black;
    clear: both;
    float: none;
    font-family: Arial, Helvetica, freesans, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    z-index: -3;
}

#title
{   
    color: black;
    line-height: 2em;
    text-align: left;
    padding-left: var(--bbc-logo-margin);
    width: 100%;
    padding-bottom: 0.25em;
    padding-top: 1em;
    position: relative;
    z-index: 1;
}

.clear
{
    width: 0%;
    clear: both;
}
